name: Compilador de Zbus ESIME
on: [push]

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          pip install numpy pandas pyinstaller
      - name: Build EXE
        run: |
          pyinstaller --onefile --console --name="Calculador_Zbus_ESIME" zbus_solver.py
      - name: Upload
        uses: actions/upload-artifact@v3
        with:
          name: Programa_Zbus_Windows
          path: dist/Calculador_Zbus_ESIME.exe
